:root {
	color-scheme: light dark;
}

body {
	font-family: sans-serif;
	max-width: 768px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h3 {
	margin-top: 0;
	margin-bottom: 16px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: -8px 0;
}

table th {
	text-align: left;
	font-weight: 400;
}

table td {
	white-space: nowrap;
	text-align: right;
	vertical-align: top;
}

table :is(th, td) {
	padding: 8px 0;
}

hr {
	border: 0;
	border-top: 1px solid GrayText;
	margin: 16px 0;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

small {
	font-size: inherit;
	color: GrayText;
	margin-right: 8px;
}

svg {
	height: 18px;
	width: 18px;
	vertical-align: -3px;
	margin-left: 4px;
}
